mat-icon {
  cursor: pointer;
}

.child-table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline !important;
}

.header-child-tabel {
  font-weight: bold;
}

.highlight {
  background-color: greenyellow;
}
