<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-table matSort style="width: 100%" [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
      <ng-container *ngIf="typeMainColumns[i] === constants.EDIT" else otherColumn>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let data" fxLayout="row" fxLayoutAlign="space-around center">
          <mat-icon (click)="goToDetail(data.id)">edit</mat-icon>
          <mat-icon *ngIf="displayedChildColumns" (click)="selectRow(data.id)">{{data.isExpanded ? 'keyboard_arrow_up' :
            'keyboard_arrow_down'}}</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container #otherColumn>
        <mat-header-cell *matHeaderCellDef>{{
          capitalize(displayedColumns[i])
          }}</mat-header-cell>
        <ng-container>
          <mat-cell *matCellDef="let data">{{ data[column] }}</mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <ng-container *ngIf="element.isExpanded">
          <div fxLayout="column" fxLayoutAlign="space-around center" class="child-table">
            <mat-subheader class="header-child-tabel">Members of {{ element.name }}</mat-subheader>
            <app-table-contain-table [displayedColumns]="displayedChildColumns" [dataSource]="element.childDataSource"
            ></app-table-contain-table>
          </div>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="{'highlight': row.isHighlight}" *matRowDef="let row; columns: displayedColumns">
    </mat-row>
    <div *ngIf="displayedChildColumns">
      <mat-row *matRowDef="let row; columns: ['expandedDetail']"
        [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'">
      </mat-row>
    </div>
  </mat-table>
</div>
<div>
  <mat-paginator [length]="totalRecords" [pageSize]="pageSize" (page)="onPageChange($event)"
    [pageSizeOptions]="pageSizeOptions" aria-label="Select page" showFirstLastButtons>
  </mat-paginator>
</div>