<!-- <div class="container-fluid bg-light">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card border-secondary mb-3">
        <div class="card-body">
          <h6 class="card-title font-weight-bolder">Employee Management</h6>
          <div class="row">
            <div class="col-md-6 mt-4">
              <button type="button" class="btn btn-primary" (click)='navigate("student")'
                data-link="/dashboard/student">Student</button>
            </div>
            <div class="col-md-6 mt-4">
              <button type="button" class="btn btn-primary" (click)='navigate("teacher")'
                data-link="/dashboard/teacher">Teacher</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div fxLayout="row">
  <div fxFlex>
    abc
    <!-- <button type="button" (click)='navigate("student")' data-link="/dashboard/student">Student</button> -->
  </div>
  <div fxFlex>
    def
    <!-- <button type="button" (click)='navigate("teacher")' data-link="/dashboard/teacher">Teacher</button> -->
  </div>
</div>