<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-table matSort style="width: 100%" [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <ng-container
        *ngIf="column === 'edit' && role === 'student'"
        else
        otherColumn
      >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let data">
          <mat-icon (click)="getUserDetail(data.id)">edit</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container #otherColumn>
        <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
        <ng-container *ngIf="column === 'score'" else notScoreColumn>
          <mat-cell *matCellDef="let data">{{
            data[column] | scoreStatusPipe
          }}</mat-cell>
        </ng-container>
        <ng-container #notScoreColumn>
          <mat-cell *matCellDef="let data">{{ data[column] }}</mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
</div>
<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  showFirstLastButtons
>
</mat-paginator>
