<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-table matSort style="width: 100%" [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
      <mat-cell *matCellDef="let data">{{ data[column] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="getUserDetail(row.id, row.name)"
      focusColumn
      [highlightColor]="'green'"
    >
    </mat-row>
  </mat-table>
</div>
<mat-paginator
  [length]="totalRecords"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  showFirstLastButtons
>
</mat-paginator>
