<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="space-field">
  <div fxFlex="50">
    <label class="font-weight-bold">Search By Name</label>
    <input type="text" class="form-control" [(ngModel)]="searchName" (ngModelChange)="onChangeSearchByName()">
  </div>
</div>

<div class="space-field" fxLayout="row" fxLayoutAlign="end center">
  <button class="btn btn-primary" (click)="createNewTeacher()">Create New Teacher</button>
</div>

<app-table-contain-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" [totalRecords]="totalRecords"
  (onSelectPage)="onPageChange($event)" [displayedChildColumns]="displayedChildColumns"
  (routeToDetail)="getTeacherDetail($event)" [typeMainColumns]="typeColumns" (expandedRow)="onExpandedRow($event)">
</app-table-contain-table>